{{#if isCreating}}
    <span class="icon">{{fa-icon "magic"}}</span>
{{else if isCompleted}}
    <span class="icon">{{fa-icon "check-square-o"}}</span>
{{else}}
    <span class="icon">{{fa-icon "exclamation-triangle"}}</span>
{{/if}}
<span class="descr">{{status}}</span>