{{#link-to "build" build.id class="build-item"}}
    <a {{action "showConfirmation" build bubbles=false}} class="right remove-sign" title="remove record">
        {{fa-icon "trash-o"}}
    </a>
    <i class="icon-disk-outline left icon"></i>
    <i class="icon-disk-filled left icon"></i>
    <span class="wrap">

    <span class="wrap-text name">

    {{build.name}}
    </span>
    {{#if build.status}}
        <i class=" build-status label right {{tolowercase build.status}}">{{build.status}}</i>
    {{/if}}
    </span>
{{/link-to}}

