{{input type="text" value=value placeholder=placeholder}}
<a {{action "clearSearch"}} title="clear" class="clear">{{fa-icon "fa-close"}}</a>
<label class="search-icon">{{fa-icon "fa-search"}}</label>
{{yield}}
