<div class="row">
	{{partial "header"}}
	{{partial "top-bar"}}
	{{outlet}}
	{{partial "footer"}}
    <div class="alert-error {{alertErrorCls}}">
        INTERNAL ERROR  <a {{action "hideError"}}>{{fa-icon "close"}}</a>
    </div>
</div>

