{{#link-to "builds" class="right"}}{{fa-icon "close"}}{{/link-to}}
<h2  class="wrap-text"><i class="icon-disk-filled"></i>{{model.name}}</h2>
<dl>
    <dt>{{t 'labels.status'}}</dt>
    <dd>
        {{build-status status=model.status}}
        {{#if model.status_details}}
            <span class="status-details">{{model.status_details}}</span>
        {{/if}}
    </dd>
    <hr>
    {{#if model.description}}
        <dt>{{t 'labels.descr'}}</dt><dd  class="wrap-text">{{model.description}}</dd>
    {{/if}}
    <dt>{{t 'labels.url'}}</dt><dd> <a href="{{model.src}}" target="_blank" class="wrap-text">{{model.src}}</a></dd>
    <dt>{{t 'labels.logs_full_path'}}</dt><dd class="wrap-text">{{model.log}}</dd>
    <dt>{{t 'labels.public'}}</dt><dd>{{model.public}}</dd>
    <hr>
    <dt>{{t 'labels.started'}}</dt><dd>{{moment-format model.created 'Do MMMM YYYY, H:mm'}}</dd>
    {{#if isCompleted}}
        <dt>{{t 'labels.created'}}</dt>
        <dd>{{moment-format model.updated 'Do MMMM YYYY, H:mm'}}</dd>
    {{else if isError}}
        <dt>{{t 'labels.ended'}}</dt>
        <dd>{{moment-format model.updated 'Do MMMM YYYY, H:mm'}}</dd>
    {{/if}}
    <hr>

    <div class="buttons clearfix">
        {{#if isCreating}} 
            <a class="button small alert left" {{action "cancel"}}>
                {{fa-icon "ban"}}<span>{{t "buttons.abort"}}</span>
            </a>
        {{/if}}
        <a class="button small info right" {{action "toggle_log"}}>
            <span>
                {{#if log_loader}}
                    {{fa-icon "refresh" spin=true}}{{t "buttons.logs_loading"}}
                {{else if log_contents}}
                    {{fa-icon "file-text-o"}}{{t "buttons.logs_hide"}}
                {{else}}
                    {{fa-icon "file-text-o"}}{{t "buttons.logs_show"}}
                {{/if}}
            </span>
        </a>
        {{#if log_contents}}
            <a class="button small info right" {{action "load_log"}}>{{fa-icon "refresh"}}</a>
        {{/if}}

    </div>
    {{#if log_contents}}
        <div class="panel file">
            <pre>{{log_contents}}</pre>
        </div>
    {{/if}}
    {{#if loading}}
        <div class="text-center loader">{{fa-icon "fa-refresh" spin=true}}</div>
    {{/if}}
</dl>
<hr>
<div class="buttons">
    <a href="{{log_url}}" class="button small info" target="_blank">
        {{fa-icon "external-link"}}
        <span>View Logs</span>
    </a>
</div>
{{#if loading}}
    <div class="text-center loader">{{fa-icon "fa-refresh" spin=true}}</div>
{{/if}}
