<div class="small-6 large-5 columns sidebar">
    <ul class="no-bullet">
       {{#each queryResults as |build|}}
            {{display-build build=build action="openConfirm"}}
            {{else}}
                <li class="empty-list">
                    {{t 'empty_build_list'}}
                </li>
        {{/each}}
    </ul>
    {{#if showConfirm}}
        <div class="alert-panel" style="top:{{confirmTop}};  left: {{confirmLeft}}">
            <p>{{t 'confirmation.question'}} <strong>{{buildToDelete.name}}</strong>
            {{t 'confirmation.info'}} <strong class={{tolowercase buildToDelete.status}}>{{tolowercase buildToDelete.status}}</strong>?</p>
            <p class="danger"><{{fa-icon "fa-warning" classNames="icon"}} {{t 'confirmation.cannot_undo_action'}}</p>
            <div class="clearfix">
                <button {{action "deleteBuild" buildToDelete}} class="right button small alert">{{t 'buttons.delete'}}</button>
                <a {{action "closeConfirm"}} class="left small button cancel">{{t 'buttons.cancel'}}</a>
            </div>
        </div>
    {{/if}}
</div>
<div class="small-6 large-7 columns main">
    {{partial "create-build"}}
    {{outlet}}
</div>
