 <div class="row">
    <div class="columns small-4">
        <h2>Builds list</h2>
        <ul>
           {{#each controller.model as |build|}}
                <li>
                    {{#link-to "build" build.id}}{{build.name}}{{/link-to}}
                    <a {{action "deleteBuild" build}}>(delete)</a>
                </li>
            {{/each}}
        </ul>
    </div>

    <div class="columns small-8">
        <p>Welcome {{settings.username}}</p>
        <h1>IcaaS</h1>
        <p>ICaaS is a Python Flask application meant to provide the functionality of snf-image-creator as a service, through the use of Synnefo VMs. {{fa-icon "motorcycle"}}</p>
        <p>For the time being, it only works on Bitnami images.</p>
        <a {{action 'logout'}}>{{fa-icon 'sign-out'}} Logout</a>

        {{partial "create-build"}} 

        <h2>Quotas</h2>
        <ul>
            {{#each controller.projects as |project|}}
                <li><strong>{{project.human_name}}</strong> Available VMs: {{project.vm_free}}</li>
            {{/each}}
        </ul>
        {{outlet}}
    </div>
</div> 
