<section class="details panel">
    <a {{action "hide"}} class="right" title="Hide details">{{fa-icon "close"}}</a>
    <h2><i class="icon-disk-filled"></i>{{model.name}}</h2>
    <dl>
        <dt>Status</dt>
        <dd class={{model.status}}>
            <span class="icon">
                !
            </span>
            <span class="descr">{{model.status}}</span>
            <span class="status-details">{{model.status_details}}</span>
        </dd>
        <hr>
        <dt>ID</dt><dd>{{model.id}}</dd>
        <dt>Description</dt><dd>{{model.description}}</dd>
        <dt>Bitnami URL</dt><dd> <a href="{{model.src}}" target="_blank">{{model.src}}</a></dd>
        <dt>Public</dt><dd>{{model.public}}</dd>
        <dt>Log</dt><dd><a href="{{log_url}}">{{fa-icon "external-link" classNames="btn-popover"}}</a>Temp!</dd>
        <hr>
        <dt>Created</dt><dd>{{moment-format model.created 'Do MMMM YYYY, H:mm'}}</dd>
        <dt>Updated</dt><dd>{{moment-format model.updated 'Do MMMM YYYY, H:mm'}}</dd>
    </dl>
</section>



{{!-- <div class="panel">
    <a {{action "hide"}} class="right" title="Hide details">{{fa-icon "close"}}</a>
    <h4>Build details:</h4>
    <ul>
        <li><strong>ID</strong> {{model.id}}</li>
        <li><strong>Name</strong> {{model.name}}</li>
        <li><strong>Description</strong> {{model.description}}</li>
        <li><strong>Public</strong> {{model.public}}</li>
        <li><strong>Log</strong> <a href="{{log_url}}" target="_blank">{{model.log}}</a></li>
        <li><strong>Status</strong> <em class="{{model.status}}">{{model.status}}</em></li>
        <li><strong>Status details</strong> {{model.status_details}}</li>
        <li><strong>Bitnami URL</strong> {{model.src}}</li>
        <li><strong>Created</strong> {{moment-format model.created 'Do MMMM YYYY, H:mm'}}</li>
        <li><strong>Updated</strong> {{moment-format model.updated 'Do MMMM YYYY, H:mm'}}</li>
    </ul>
</div>
 --}}