<section class="details panel">
    <a {{action "hide"}} class="right" title="Hide details">{{fa-icon "close"}}</a>
    <h2  class="wrap-text"><i class="icon-disk-filled"></i>{{model.name}}</h2>
    <dl>
        <dt>Status</dt>
        <dd>
            {{build-status status=model.status}}
            {{#if model.status_details}}
                <span class="status-details">{{model.status_details}}</span>
            {{/if}}
        </dd>
        <hr>
        {{#if model.description}}
            <dt>Description</dt><dd  class="wrap-text">{{model.description}}</dd>
        {{/if}}
        <dt>Bitnami URL</dt><dd> <a href="{{model.src}}" target="_blank" class="wrap-text">{{model.src}}</a></dd>
        <dt>Public</dt><dd>{{model.public}}</dd>
        <hr>
        <dt>Started</dt><dd>{{moment-format model.created 'Do MMMM YYYY, H:mm'}}</dd>
        {{#if isCompleted}}
            <dt>Created</dt>
            <dd>{{moment-format model.updated 'Do MMMM YYYY, H:mm'}}</dd>
        {{else if isError}}
            <dt>Finished</dt>
            <dd>{{moment-format model.updated 'Do MMMM YYYY, H:mm'}}</dd>
        {{/if}}
    </dl>
    <hr>
    <div class="buttons">
        <a href="{{log_url}}" class="button small info" target="_blank">
            {{fa-icon "external-link"}}
            <span>View Logs</span>
        </a>
    </div>
</section>



{{!-- <div class="panel">
    <a {{action "hide"}} class="right" title="Hide details">{{fa-icon "close"}}</a>
    <h4>Build details:</h4>
    <ul>
        <li><strong>ID</strong> {{model.id}}</li>
        <li><strong>Name</strong> {{model.name}}</li>
        <li><strong>Description</strong> {{model.description}}</li>
        <li><strong>Public</strong> {{model.public}}</li>
        <li><strong>Log</strong> <a href="{{log_url}}" target="_blank">{{model.log}}</a></li>
        <li><strong>Status</strong> <em class="{{model.status}}">{{model.status}}</em></li>
        <li><strong>Status details</strong> {{model.status_details}}</li>
        <li><strong>Bitnami URL</strong> {{model.src}}</li>
        <li><strong>Created</strong> {{moment-format model.created 'Do MMMM YYYY, H:mm'}}</li>
        <li><strong>Updated</strong> {{moment-format model.updated 'Do MMMM YYYY, H:mm'}}</li>
    </ul>
</div>
 --}}