<div class="panel">
    <a {{action "hide"}} class="right" title="Hide details">{{fa-icon "close"}}</a>
    <h4>Build details:</h4>
    <ul>
        <li><strong>ID</strong> {{model.id}}</li>
        <li><strong>Name</strong> {{model.name}}</li>
        <li><strong>Description</strong> {{model.description}}</li>
        <li><strong>Public</strong> {{model.public}}</li>
        <li><strong>Log</strong> <a href="{{log_url}}" target="_blank">{{model.log}}</a></li>
        <li><strong>Status</strong> <em class="{{model.status}}">{{model.status}}</em></li>
        <li><strong>Bitnami URL</strong> {{model.src}}</li>
        <li><strong>Created</strong> {{moment-format model.created 'Do MMMM YYYY, H:mm'}}</li>
        <li><strong>Updated</strong> {{moment-format model.updated 'Do MMMM YYYY, H:mm'}}</li>
    </ul>
</div>
