<div class="middle">
    <div class="small-6 large-5 columns sidebar">
        <ul class="no-bullet">
           {{#each controller.queryResults as |build|}}
                <li>
                    <a {{action "deleteBuild" build}} class="right remove-sign" title="remove record">
                        {{fa-icon "fa-times"}}
                    </a>
                    {{#link-to "build" build.id}}
                        <i class="icon-disk-outline left"></i>
                        <i class="icon-disk-filled left"></i>
                        <span class="wrap-text name">{{build.name}}</span>
                    {{/link-to}}
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="small-6 large-7 columns main">
        {{partial "create-build"}}
        {{outlet}}
    </div>
</div>










{{!--  <div class="row">
    <div class="columns small-4">
        <h2>Builds list</h2>
        {{search-box value=searchTerm}}
        {{#link-to "builds" (query-params status="error")}}Error builds{{/link-to}} | 
        {{#link-to "builds" (query-params status="creating")}}Creating builds{{/link-to}} |
        {{#link-to "builds" (query-params status="completed")}}Completed builds{{/link-to}}
        <ul>
           {{#each controller.queryResults as |build|}}
                <li>
                    {{#link-to "build" build.id}}{{build.name}}{{/link-to}}
                    <a {{action "deleteBuild" build}}>(delete)</a>
                </li>
            {{/each}}
        </ul>
    </div>

    <div class="columns small-8">
        <p>Welcome {{settings.username}}</p>
        <h1>IcaaS</h1>
        <p>ICaaS is a Python Flask application meant to provide the functionality of snf-image-creator as a service, through the use of Synnefo VMs. {{fa-icon "motorcycle"}}</p>
        <p>For the time being, it only works on Bitnami images.</p>
        <a {{action 'logout'}}>{{fa-icon 'sign-out'}} Logout</a>

        {{partial "create-build"}} 

        <h2>Quotas</h2>
        <ul>
            {{#each controller.projects as |project|}}
                <li><strong>{{project.human_name}}</strong> Available VMs: {{project.vm_free}}</li>
            {{/each}}
        </ul>
        {{outlet}}
    </div>
</div> 
 --}}
