<section class="new-build" id="new-build">
    <h2 id="create-header">
        Create new image
        {{slide-arrow areaID="creation-form" btnID="create-header" containerID="new-build"}}
    </h2>
    <div id="creation-form">
        
    <form>
        <label for="src">
            <span class="mendatory-sign">*</span>
            Bitnami image URL
            <span class="css-tooltip css-tooltip-e"  aria-label="I will help you! In the future....">
                <i class="info-sign fa fa-info-circle"></i>
            </span>
            {{#error-msg err=errorCreation.src action="clearError"}}
                {{input type="url" value=src id="src"}}
            {{/error-msg}}
        </label>
        <label for="name">
            <span class="mendatory-sign">*</span>
            Name
            <i class="info-sign fa fa-info-circle"></i>
        </label>
        {{#error-msg err=errorCreation.name action="clearError"}}
            {{input type="text" value=name id="name"}}
        {{/error-msg}}
        <label for="description">
            Description
            <i class="info-sign fa fa-info-circle"></i>
        </label>
        {{textarea value=description id="description" maxlength=255}}
        <label for="image_name">
            Storage file name
            <i class="info-sign fa fa-info-circle"></i>
        </label>
        {{input type="text" value=image_name id="image_name"}}
        <div class="dropdown">
            <label>
                Project
                <i class="info-sign fa fa-info-circle"></i>
            </label>
            {{#x-select value=selectedProject}}
                {{#each projects as |p|}}
                    {{#x-option value=p}}{{p.human_name}}{{/x-option}}
                {{/each}}
            {{/x-select}}
        </div>
        <div class="dropdown right">
            <label>
                Storage container
                <i class="info-sign fa fa-info-circle"></i>
            </label>
            {{#x-select value=selectedContainer}}
                {{#each containers as |c|}}
                    {{#x-option value=c}}{{c.name}}{{/x-option}}
                {{/each}}
            {{/x-select}}
        </div>
        <label for="public">
            Public
            {{input type="checkbox" id="public" checked=isPublic}}
        </label>
    </form>
    {{#if loading}}
        <div class="text-center loader">{{fa-icon "fa-refresh" spin=true}}</div>
    {{/if}}
    {{error-msg err=errorCreation.common}}
    {{#if errorMsg}}
        <div class="alert-box alert">
            <a {{action 'hideErrors'}} title="Hide errors" class="close">{{fa-icon "fa-close"}}</a>
            {{errorMsg}}
        </div>
    {{/if}}
<div class="buttons">
    <button type="submit" class="small success" {{action 'initCreateBuild'}}>Build</button>
</div>
    </div>
</section>
