<section class="new-build" id="new-build">

    {{#slide-button areaID="creation-form" btnID="create-header" containerID="new-build" tagName="h2" id="create-header" isOpen=true }}
        Create new image
    {{/slide-button}}

    <div id="creation-form">
        
    <form>
        <label for="src">
            <span class="mendatory-sign">*</span>
            Bitnami image URL
            <i class="info-sign fa fa-info-circle"></i>
            {{#error-msg err=errorCreation.src action="clearError"}}
                {{input type="url" value=src id="src"}}
            {{/error-msg}}
        </label>
        <label for="name">
            <span class="mendatory-sign">*</span>
            Name
            <span class="css-tooltip css-tooltip-se"  aria-label='When you will create a new machine,
you will find the image with this name
in the tab "My images" or "Public".'>
                <i class="info-sign fa fa-info-circle"></i>
            </span>
        </label>
        {{#error-msg err=errorCreation.name action="clearError"}}
            {{input type="text" value=name id="name"}}
        {{/error-msg}}
        <label for="description">
            Description
            <i class="info-sign fa fa-info-circle"></i>
        </label>
        {{textarea value=description id="description" maxlength=255}}
        <label for="image_name">
            Storage file name
            <i class="info-sign fa fa-info-circle"></i>
        </label>
        {{input type="text" value=image_name id="image_name"}}
        <div class="dropdown">
            <label>
                Project
                <span class="css-tooltip css-tooltip-se"  aria-label='Make sure that the project you will choose
has enough quota for a new machine.
A machine will "build" your image
and will be destroyed afterwards.'>
                <i class="info-sign fa fa-info-circle"></i>
            </span>
            </label>
            {{#x-select value=selectedProject}}
                {{#each projects as |p|}}
                    {{#x-option value=p}}{{p.human_name}}{{/x-option}}
                {{/each}}
            {{/x-select}}
        </div>
        <div class="dropdown right">
            <label>
                Storage container
                <span class="css-tooltip css-tooltip-sw"  aria-label="When the creation is completed, you will find the
image's files inside the container of your choice.

Make sure that the container that you'll choose
has enough available space!">
                <i class="info-sign fa fa-info-circle"></i>
            </span>
            </label>
            {{#x-select value=selectedContainer}}
                {{#each containers as |c|}}
                    {{#x-option value=c}}{{c.name}}{{/x-option}}
                {{/each}}
            {{/x-select}}
        </div>
        <label for="public">
            Public
            <span class="css-tooltip css-tooltip-se"  aria-label="Check it, if you want to share the image
with all the users of the service.">
                <i class="info-sign fa fa-info-circle"></i>
            </span>
            {{input type="checkbox" id="public" checked=isPublic}}
        </label>
    </form>
    {{#if loading}}
        <div class="text-center loader">{{fa-icon "fa-refresh" spin=true}}</div>
    {{/if}}
    {{error-msg err=errorCreation.common}}
    {{#if errorMsg}}
        <div class="alert-box alert">
            <a {{action 'hideErrors'}} title="Hide errors" class="close">{{fa-icon "fa-close"}}</a>
            {{errorMsg}}
        </div>
    {{/if}}
<div class="buttons">
    <button type="submit" class="small success" {{action 'initCreateBuild'}}>Build</button>
</div>
    </div>
</section>
