<footer>
    <a href={{settings.copyright_url}} target="_blank">{{t "links.copyright.descr"}}</a>
    <span>{{t "links.copyright.descr_aux"}}</span>
    <a href={{settings.terms_url}} target="_blank" class="right">{{t "links.terms.descr"}}</a>
</footer>