<div class="row">
	
	<header class="text-center header">
		{{demo-header}}
	</header>
	{{!-- <div class="contain-to-grid"> --}}
		
	<div class="top-bar">
	  <section class="search small-6 large-5 columns">
			<select>
				<option>Sort by name A → Z</option>
				<option>Sort by name Z → A</option>
				<option>Sort by status A → Z</option>
				<option>Sort by status Z → A</option>
				<option>Sort by creation date ↓</option>
				<option>Sort by creation date ↑</option>
			</select>
		  <form>
				<input type="text" placeholder="Search builds...">
				<label>
					<i class="fa fa-search"></i>
				</label>
		  </form>
	  </section>

	  <section class="logout small-6 large-7 columns">
	  <ul class="inline-list right">
		<li>
			<a href="">
				{{fa-icon "question-circle"}}
				<label>Help</label>
			</a>
		</li>
		<li>
			<a href="">
				{{fa-icon "sign-out"}}
				<label>Log Out</label>
			</a>
		</li>
	  </ul>
	  </section>
	</div>

	<div class="middle">
		<div class="small-6 large-5 columns sidebar">
		<ul class="no-bullet">
			<li >
				<a href="">
					<i class="icon-disk-outline"></i>
					<span>Build 1</span>
					<span class="label alert">Error</span>
				</a>
			</li>
			<li>
				<a href="">
					<i class="icon-disk-outline"></i>
					<span>hell</span>
					<span class="label success">Completed</span>
				</a>
			</li>
			<li>
				<a href="">
					<i class="icon-disk-outline"></i>
					<span>debian with wordpress</span>
					<span class="label info">Created</span>
				</a>
			</li>
		</ul>
		</div>
		<div class="small-6 large-7 columns main">
		<section class="new-build" id="new-build">
			<h2 id="create-header">
				Build new image
				{{slide-arrow areaID="creation-form" btnID="create-header" containerID="new-build" initState="open"}}
			</h2>
			<section id="creation-form">
					<label>
						Name
						<i class="info-sign fa fa-info-circle"></i>
					</label>
					<input type="text">
					<label>
						Bitnami URL
						<i class="info-sign fa fa-info-circle"></i>
					 </label>
					 <input type="text">
					<label>
						Blah
						<i class="info-sign fa fa-info-circle"></i>
					</label>
					<input type="text">
					<label>
						Project
						<i class="info-sign fa fa-info-circle"></i>
						</label>
					<select>
						<option>yio</option>
						<option>Yio</option>
						<option>Yio</option>
						<option>Yio</option>
					</select>
					<section id="create-adv-options" >
						<h3 id="create-adv-btn">
							More Options
							{{slide-arrow areaID="adv-options" btnID="create-adv-btn" containerID="create-adv-options" initState="close"}}
						</h3>
						<section id="adv-options">
							<label>
						Blah
						<i class="info-sign fa fa-info-circle"></i>
					</label>
					<input type="text">
					<label>
						Blah
						<i class="info-sign fa fa-info-circle"></i>
					</label>
					<input type="text">
						</section>
					</section>
				 <a href="">Cancel</a>
				<button class="small right">Build</button>
			</section>
		</section>
			<section class="details">
				 <a {{action "hide"}} class="right" title="Hide details">{{fa-icon "close"}}</a>
				<h2><i class="icon-disk-filled"></i> Build 1</h2>
				<dl>
					<dt>Status</dt>
					<dd class="error">
						<span class="icon">{{fa-icon "exclamation-triangle"}}</span><span class="descr">Error</span>
						<span class="status-details">icaas agent creation failed: (409, CONFLICT conflict (Cannot find an unused floating IP to connect server to a public network. Please create a floating IP.)\n)</span>
					</dd>
					<hr>
					<dt>Status</dt>
					<dd class="success">
						<span class="icon">{{fa-icon "check-square-o"}}</span><span class="descr">Completed</span>
						<span class="status-details">Details blah blah blah</span>
					</dd>
					<hr>
					<dt>Status</dt>
					<dd class="creating">
						<span class="icon">
						  <span class="dot">.</span>
						  <span class="dot">.</span>
						  <span class="dot">.</span>
						</span><span class="descr">Creating</span>
						<span class="status-details">Started icaas agent creation</span>
					</dd>
					<hr>
					<dt>ID</dt><dd>12345</dd>
					<dt>Image name in Pithos</dt><dd>Ubuntu with wordpress</dd>
					<dt>Image location in Pithos</dt><dd>pithos/icaas_images/</dd>
					<dt>Logs file location in Pithos</dt><dd>pithos/icaas_images/ <a href="">{{fa-icon "external-link" classNames="btn-popover"}}</a></dd>
					<dt>src/bitnami url</dt><dd>https://bitnami.com/redirect/to/71159/bitnami-wordpress-4.3.1-0-ubuntu-14.04.zip</dd>
					<hr>
					<dt>Created</dt><dd>15/9/2015</dd>
					<dt>Update</dt><dd>25/9/2015</dd>
				</dl>
			</section>
		</div>
	</div>
		<footer>
			<a href="https://www.grnet.gr/en" target="_blank">Copyright {{fa-icon "copyright"}} 2015 - 2016 GRNET</a>
			<span>All rights reserved.</span>
			<a href="" target="_blank" class="right">Terms of service</a>
		</footer>
</div>		