<div class="top-bar">
    <section class="search left">
        {{outlet "top-bar-left"}}
    </section>
    <section class="logout">
        <ul class="inline-list right">
            {{#if isLoggedIn}}
                <li>
                    {{#link-to "builds"}}
                        <i class="fa icon-disk-filled"></i>
                        <label>{{t "buttons.builds_list"}}</label>
                    {{/link-to}}
                </li>
            {{/if}}
            <li>
                {{#link-to "guide"}}
                    {{fa-icon "question-circle"}}
                    <label>{{t "buttons.user_guide"}}</label>
                {{/link-to}}
            </li>
            <li>
                {{#link-to "about"}}
                    <i class="fa fa-info-circle"></i>
                    <label>{{t "buttons.about"}}</label>
                {{/link-to}}
            </li>
            {{#if isLoggedIn}}
                <li>
                    {{#link-to 'login'}}
                        {{fa-icon "sign-out"}}
                        <label>{{t "buttons.logout"}}</label>
                    {{/link-to}}
                </li>
            {{else}}
                <li>
                    {{#link-to 'login'}}
                        {{fa-icon "sign-in"}}
                        <label>{{t "buttons.login"}}</label>
                    {{/link-to}}
                </li>
            {{/if}}
        </ul>
    </section>
</div>
